<app-window
  [title]="'Start accepting orders'"
  [icon]="faStar"
  [showDelete]="true"
>
  <div class="content">
    <h1>Welcome to your store!</h1>
    <p>
      Can’t wait to start accepting orders? Let us show you how to set up your
      store fast and easy. The steps below describe the most important settings
      for the online shop. With our tips on each page you will see how clear
      this process is. You will be ready to start selling immediately after you
      go through these steps. So good luck!
    </p>
    <div class="configuration-wrapper">
      <div class="step" *ngFor="let step of steps">
        <div class="circle" [style.background-color]="step.circleColor">
          <fa-icon [icon]="step.icon" class="icon"></fa-icon>
        </div>
        <div class="header">{{ step.title }}</div>
        <div class="details">{{ step.description }}</div>
      </div>
    </div>
  </div>
</app-window>
