<div class="container">
  <h3>
    Rates List
    <small class="text-muted">Compare with 1 {{ currentRate }}</small>
  </h3>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th>Currency</th>
        <th>Name</th>
        <th>Spot</th>
        <th>Switch</th>
        <th>Calculator</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exchange of rates">
        <td>{{ exchange.currencyCode }}</td>
        <td>{{ exchange.currencyName }}</td>
        <td>
          1 {{ currentRate }} = {{ exchange.spot }} {{ exchange.currencyCode }}
        </td>
        <td>
          <a (click)="onSwitchRate(exchange.currencyCode)" class="btn btn-link"
            >{{ exchange.currencyCode }} <=> {{ this.currentRate }}</a
          >
        </td>
        <td>

          <a (click)="onCalculateRate(currentRate,exchange.currencyCode)" class="btn btn-link"
          >Calculate {{currentRate}} to {{exchange.currencyCode}}</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
