<div class="background">
  <div class="wrapper">
    <div class="wrapper-row-center">
      <div class="line line-w-1">
        <div class="fullname-label abril-font">Name</div>
        <div class="fullname abril-font">{{ aboutMe.firstName }}</div>
      </div>
    </div>
    <div class="wrapper-row-left">
      <div class="line line-w-3">
        <div class="address-label abril-font">Location</div>
        <div class="address abril-font">{{ aboutMe.location }}</div>
      </div>
    </div>
    <div class="wrapper-row-right">
      <div class="line line-w-2">
        <div class="job-label abril-font">Job</div>

        <div class="job abril-font">{{ aboutMe.job }}</div>
      </div>
    </div>
  </div>
</div>
