.news-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
mat-card {
  width: 30%;
  padding: 0;
}
mat-card-header {
  background-color: #d9edf7;
  color: #3c8dbc;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
}
mat-card-content {
  padding: 10px 20px;
}
.mat-card-header-text {
  margin: 0;
}
