<form [formGroup]="productForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Product Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Product Name"
              formControlName="productName"
            />
            <mat-error
              *ngIf="productForm.controls['productName'].hasError('required')"
            >
              Product Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="SKU" formControlName="sku" />
            <mat-error *ngIf="productForm.controls['sku'].hasError('required')">
              SKU is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              maxlength="10"
              placeholder="Price"
              type="number"
              formControlName="price"
            />
            <mat-error
              *ngIf="productForm.controls['price'].hasError('required')"
            >
              Price is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              maxlength="5"
              placeholder="Quantity"
              type="number"
              formControlName="quantity"
            />
            <mat-error
              *ngIf="productForm.controls['quantity'].hasError('required')"
            >
              Quantity is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        [disabled]="productForm.invalid"
        type="submit"
      >
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>
