/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
app-news .mat-card-header-text {
  margin: 0;
}
app-news .mat-card-header .mat-card-title {
  margin: 0;
}

app-news .mat-card-header .mat-card-title a {
  text-decoration: none;
  color: inherit;
}
